---
import {
  ChevronRight,
  FileTextIcon,
  GithubIcon,
  Linkedin,
  Twitter,
} from "lucide-react";
import { projects, intro } from "@/Data/data";
import { AvatarComponent } from "@/components/Avatar";
---

<main class="h-screen flex justify-center items-center text-white bg-cover">
  <div class="h-fit px-4 max-w-[28rem]">
    <div class="flex gap-6 py-4">
      <AvatarComponent client:load/>
      <div class="flex flex-col gap-2">
        <div class="flex gap-2">
          <p class="text-xl font-semibold animated-text-100">Myself ,</p>
          <p
            class="text-xl font-semibold text-custom-tertiary animated-text-100"
          >
            Swasthik K
          </p>
        </div>

        <p
          class="text-xs text-custom-secondary font-geist-mono animated-text-100"
        >
          JS | TS <span class="text-sm">developer</span>
        </p>
        <div
          class="flex gap-3 font-mono text-sm items-start sm:items-center flex-col sm:flex-row animated-text-100"
        >
          <div class="flex justify-start gap-6 items-center">
            <a href="https://github.com/SwasthK" target="_blank">
              <GithubIcon size={18} className="group-link" /></a
            >
            <a href="https://x.com/swasthik319" target="_blank">
              <Twitter size={18} className="group-link" /></a
            >
            <a
              href="https://www.linkedin.com/in/swasthik-k-a788aa255/"
              target="_blank"
              ><Linkedin size={18} className="group-link" /></a
            >
            <a
              href="https://drive.google.com/file/d/1BHPVzAMSh2jNQ58IpuBtXLwxapWguspm/view?usp=sharing"
              target="_blank"
              ><FileTextIcon size={18} className="group-link" /></a
            >
          </div>
          <a href="mailto:swasth319@gmail.com" target="_blank" class="group-link"
            >swasth319@gmail.com</a
          >
        </div>
      </div>
    </div>

    <div class="group-box">
      {
        intro.map((item) => (
          <div class="group-content animated-text-200">
            <div>
              <ChevronRight size={18} />
            </div>
            <p class="">{item.desc}</p>
          </div>
        ))
      }
    </div>

    <div class="group-box animated-text-300">
      <p class="group-label">Projects</p>
      {
        projects.map((item) => (
          <div class="group-content">
            <ChevronRight size={18} />
            <p class="">
              <a class="group-link" href={item.url} target="_blank">
                {item.head} 
              </a>
              {item.desc}
            </p>
          </div>
        ))
      }
    </div>

    <div class="group-box animated-text-300">
      <p class="group-label">Experience</p>

      <div class="group-content">
        <ChevronRight size={40} />
        <p class="">
          Worked as an intern at <a
            class="group-link"
            href="https://codelabsystems.in/"
            target="_blank">Codelab Systems</a
          > for 1 week & explored stacks like JS, React, MUI, MongoDB & Express.js.
        </p>
      </div>
    </div>
  </div>
</main>