---
import { ChevronRight, GithubIcon, Linkedin, Twitter } from "lucide-react";
import { projects, experience, intro } from "@/Data/data";
---

<main class="h-screen flex justify-center items-center text-white">
  <div class="h-fit px-4 max-w-[28rem]">
    <div class="flex gap-6 py-4">
      <img
        src="./public/profile.jpg"
        alt="Profile"
        class="h-16 w-16 sm:h-20 sm:w-20 object-cover object-center rounded-full"
      />
      <div class="flex flex-col gap-2">
        <p class="text-xl font-semibold">
          Myself ,<span class="text-custom-tertiary"> Swasthik K</span>
        </p>
        <p class="text-xs text-custom-secondary font-geist-mono">
          JS | TS <span class="text-sm">developer</span>
        </p>
        <div
          class="flex gap-3 font-mono text-sm items-start sm:items-center flex-col sm:flex-row"
        >
          <div class="flex justify-start gap-6 items-center">
            <a href="https://github.com/SwasthK" target="_blank">
              <GithubIcon size={18} className="cursor-pointer" /></a
            >
            <a href="https://x.com/swasthik319" target="_blank">
              <Twitter size={18} className="cursor-pointer" /></a
            >
            <a
              href="https://www.linkedin.com/in/swasthik-k-a788aa255/"
              target="_blank"
              ><Linkedin size={18} className="cursor-pointer" /></a
            >
          </div>
          <p>swasth319@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="group-box">
      {
        intro.map((item) => (
          <div class="group-content">
            <ChevronRight size={18} />
            <p>{item.desc}</p>
          </div>
        ))
      }
    </div>

    <div class="group-box">
      <p class="group-label">Projects</p>
      {
        projects.map((item) => (
          <div class="group-content">
            <ChevronRight size={18} />
            <p>
              <a class="group-link" href={item.url} target="_blank">
                {item.head}
              </a>
              {item.desc}
            </p>
          </div>
        ))
      }
    </div>

    <div class="group-box">
      <p class="group-label">Experience</p>

      <div class="group-content">
        <ChevronRight size={40} />
        <p>
          Worked as an intern at <a
            class="group-link"
            href="https://codelabsystems.in/"
            target="_blank">Codelab Systems</a> for 1 week & explored stacks like JS, React, MUI, MongoDB & Express.js.
        </p>
      </div>
    </div>
  </div>
</main>

<style>
  main {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  pre {
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono";
    font-weight: normal;
    background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
  }

  code {
    display: inline-block;
    background:
      linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
      linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 6px 8px;
  }

  .group-box {
    @apply flex flex-col gap-2 py-4;
  }

  .group-label {
    @apply font-semibold;
  }

  .group-content {
    @apply w-full flex gap-4 items-center text-sm font-geist-mono text-custom-secondary;
  }

  .group-link {
    @apply text-custom-default;
  }
</style>
